body {
    background-color: #170F2F;
}

/* ===================================Header Styles ====================================*/
.nav-bar{
    background-color: #170F2F;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    list-style: none;
}

.list-nav{
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cart-avatar {
    display: flex;
    margin-right: 80px;
    
}

.avatar-container {
    border: 2px solid white;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    height: 25px;
    margin-top: 2px;
}

.avatar-container:hover {
    background-color: blue;
    border: none;
}

#get-btn {
    background-color: blue;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 45px;
    width: 100px;
}

#get-btn:hover {
    border: 2px solid blue;
    background-color: black;
    color: white;
    cursor: pointer;
}